In [43]:
#Exercises

In [1]:
#1 Given a list [1, 2, 3, 4], print out all the values in the list one by one.
list = [1,2,3,4]
for i in list:
    print(i)

1
2
3
4

In [4]:
#2 Given a list [1, 2, 3, 4], print out all the values in the list multiplied by 20.

list = [1,2,3,4]
newlist = []
for i in list:
    newlist.append(i*20)
print(newlist)

[20, 40, 60, 80]

In [5]:
#3 Given a list ["Elie", "Tim", "Matt"],
# return a new list with only the first letter of each name: ["E", "T", "M"].
list = ['Elie','Tim','Matt']
newlist = []
for i in list:
    newlist.append(i[0])
print(newlist)

['E', 'T', 'M']

In [6]:
#4 Given a list [1, 2, 3, 4, 5, 6], return a new list with all the even values: [2, 4, 6].
list = [1,2,3,4,5,6]
newlist = [i for i in list if i%2==0]
print(newlist)

[2, 4, 6]

In [7]:
#5 Given two lists [1, 2, 3, 4] and [3, 4, 5, 6],
# return a new list that contains only the values present in both lists: [3, 4].

a = [1,2,3,4]
b = [3,4,5,6]
c = [i for i in a if i in b]
print(c)

[3, 4]

In [8]:
#6 Given a list of words ["Elie", "Tim", "Matt"], return a new list with each word
# reversed and in lowercase: ["eile", "mit", "ttam"].

list = ['Elie','Tim','Matt']
newlist = []
for i in list:
    newlist.append(i[::-1].lower())
print(newlist)

['eile', 'mit', 'ttam']

In [9]:
#7 Given two strings "first" and "third", return a new list of the letters that are present
# in both strings: ["i", "r", "t"].

a = "first"
b = "third"
c = [i for i in a if i in b]
print(c)

['i', 'r', 't']

In [10]:
#8 For all numbers between 1 and 100,
# return a list of the numbers that are divisible by 12: [12, 24, 36, 48, 60, 72, 84, 96].
divby12s = [i for i in range(1,101) if i%12==0]
divby12s

[12, 24, 36, 48, 60, 72, 84, 96]

In [11]:
#9 Given the string "amazing", return a list with all the vowels removed: ["m", "z", "n", "g"].
mystring = "amazing"
newlist = []
for i in mystring:
    if i in ['a','e','i','o','u']:
        continue
    else:
        newlist.append(i)
newlist

['m', 'z', 'n', 'g']

In [12]:
#10 Generate a list with the following value: [[0, 1, 2], [0, 1, 2], [0, 1, 2]].

list1 = [[0,1,2]]*3
print(list1)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
#11 Generate a list with the following structure...:

list1 = [i for i in range(0,10)]
list2 = [list1]*10
print(list2)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]