ðŸŒŸExercise 1: Introduction to Data Analysis (Easy)


Objective: Understand the basic overview and significance of data analysis.
Task:

Write a short essay or report on the following topics:

    What is data analysis?

Data analysis is the process of inspecting, cleaning, transforming, and modeling data with the goal of discovering useful information, informing conclusions, and supporting decision-making. It involves a variety of techniques and tools that range from basic statistical analysis to complex algorithms and predictive models. 

    Why is data analysis important in modern contexts?

It is important in modern contexts because many modern contexts involve large amounts of data that can only properly be understood through data analysis techniques, while mere intuition would not lead to sufficient insights and could lead to incorrect conclusions. It is important for making well-informed decisions in many modern contexts.
    List and describe three areas where data analysis is applied today.

Three areas where data analysis is applied today are:

    Business Strategy: helping businesses make data-driven decisions.
    Scientific Research: guiding hypothesis testing and discovery.
    Public Policy: assisting in the formulation of evidence-based policies.


Hint/Tip:

    Research current trends in data analysis and real-world examples to provide depth to your essay.

In [ ]:
# ðŸŒŸExercise 2: Dataset Loading and Initial Analysis


# Objective: Practice dataset loading from Kaggle and initial analysis.
# Task:

# for the following dataset : How Much Sleep Do Americans Really Get?, Global Trends in Mental Health Disorder and Credit Card Approvals.

#     Load the dataset into Jupyter or Google Colab.
#     Display the first few rows.
#     Provide a brief dataset description

import pandas as pd
df = pd.read_csv('AmericanSleep.csv')
df.head()
# This dataset shows data about Americans' sleep patterns: the average hours per day sleeping for various groups for different years over time.

,index,Year,Period,Avg hrs per day sleeping,Standard Error,Type of Days,Age Group,Activity,Sex
0,0,2003,Annual,8.57,0.018,All days,15 years and over,Sleeping,Both
1,1,2004,Annual,8.55,0.026,All days,15 years and over,Sleeping,Both
2,2,2005,Annual,8.62,0.023,All days,15 years and over,Sleeping,Both
3,3,2006,Annual,8.63,0.024,All days,15 years and over,Sleeping,Both
4,4,2007,Annual,8.57,0.024,All days,15 years and over,Sleeping,Both

ðŸŒŸExercise 3: Identifying Data Types


Objective: Learn to identify different data types.
Task:

For the datasets from the previous exercise, categorize each column of it as either quantitative or qualitative and explain your reasoning.
index: Not really a variable, as it is an index.
Year: The column contains discrete numbers and can be used to track changes over time, so it can be considered quantitative, though it is a special kind of quantitative variable.
Period: Qualitative, as the values are words, not numbers.
Avg hrs per day sleeping: Quantitative because the values are numerical values.
Standard Error: Quantitative because the values are numerical values.
Type of Days: Qualitative, as the values are words, not numbers, and describe a category.
Age Group: Qualitative, as the values are words, not numbers, and describe a category.
Activity: Qualitative, as the values are words, not numbers, and describe a category.
Sex: Qualitative, as the values are words, not numbers, and describe a category.

In [ ]:
# ðŸŒŸExercise 4: Exploring Data Types


# Objective: Learn about different types of data in data analysis.
# Task:

#     Load the Iris dataset using Kaggle into a Jupyter Notebook or Google Colaboratory Notebook.
#     Identify and list which columns in your dataset are qualitative and which are quantitative.
#     Write a brief description of why each column is classified as qualitative or quantitative.

# Tools: Jupyter Notebook, Python with Pandas library.

iris = pd.read_csv('Iris.csv')
iris.head()
#Columns:
# Id - An identifier, not really a variable, but if categorized would be qualitative.
# SepalLengthCm - Quantitative because it measures the size of a parameter.
# SepalWidthCm - Quantitative because it measures the size of a parameter.
# PetalLengthCm - Quantitative because it measures the size of a parameter.
# PetalWidthCm - Quantitative because it measures the size of a parameter.
# Species - Qualitative - a category.

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
# ðŸŒŸExercise 5: Basic Observation Skills in Data Analysis


# Objective: Develop observation skills for data analysis.
# Task:

#     Load the How Much Sleep Do Americans Really Get? dataset into Jupyter or Google Colab.
#     Identify columns that could be interesting for a specific type of analysis (e.g., trend analysis, group comparison) and explain your choice.
#     Tools: Jupyter Notebook, Python with Pandas library.

sleep = pd.read_csv('AmericanSleep.csv')
sleep
#Trend analysis: Year -- allows looking at changes over time by year.
#Group comparison: Age Group -- allows looking at differences in sleep data for different age groups.
#Type of Days: Useful for comparing differences in sleep data for different types of days.

,index,Year,Period,Avg hrs per day sleeping,Standard Error,Type of Days,Age Group,Activity,Sex
0,0,2003,Annual,8.57,0.018,All days,15 years and over,Sleeping,Both
1,1,2004,Annual,8.55,0.026,All days,15 years and over,Sleeping,Both
2,2,2005,Annual,8.62,0.023,All days,15 years and over,Sleeping,Both
3,3,2006,Annual,8.63,0.024,All days,15 years and over,Sleeping,Both
4,4,2007,Annual,8.57,0.024,All days,15 years and over,Sleeping,Both
...,...,...,...,...,...,...,...,...,...
940,940,2013,Annual,8.83,0.085,Nonholiday weekdays,65 years and over,Sleeping,Women
941,941,2014,Annual,8.98,0.086,Nonholiday weekdays,65 years and over,Sleeping,Women
942,942,2015,Annual,8.83,0.074,Nonholiday weekdays,65 years and over,Sleeping,Women
943,943,2016,Annual,8.92,0.071,Nonholiday weekdays,65 years and over,Sleeping,Women
944,944,2017,Annual,8.81,0.091,Nonholiday weekdays,65 years and over,Sleeping,Women

ðŸŒŸ Exercise 6: Identifying Data Types

Below are various data sources. Identify whether each one is an example of structured or unstructured data.

    A companyâ€™s financial reports stored in an Excel file. Structured
    Photographs uploaded to a social media platform. Unstructured
    A collection of news articles on a website. Unstructured
    Inventory data in a relational database. Structured
    Recorded interviews from a market research study. Unstructured

ðŸŒŸ Exercise 7: Transformation Exercise

For each of the following unstructured data sources, propose a method to convert it into structured data. Explain your reasoning.

    A series of blog posts about travel experiences.
    Audio recordings of customer service calls.
    Handwritten notes from a brainstorming session.
    A video tutorial on cooking.

For each of these sources, I would want to define categories of relevant information from them to enter as structured data. In each case, these would be the most relevant information to extract as structured data:

    A series of blog posts about travel experiences:
    Blog date, Travel date, Travel location, Experience rating, Blog views, # of blog comments, blog rating
    Audio recordings of customer service calls.
    Ticket #, representative code, customer code, call length, issue category, issue resolved yes/no.
    Handwritten notes from a brainstorming session.
    A video tutorial on cooking.
    Host name, dish made, ingredients used, prep time, cooking time, total time.

In [9]:
# ðŸŒŸ Exercise 8 : Import a file from Kaggle

# Note: This dataset was originally sourced from Kaggle, but for easier access, it has been made available on GitHub.

# ðŸ‘‰ Please download the dataset directly from the GitHub repository to use it in this project.

#     Import the train dataset. Use the train.csv file.
#     Print the first few rows of the DataFrame.
trains = pd.read_csv('train.csv')
trains.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:

# ðŸŒŸ Exercise 9 : Export a dataframe to excel format and JSON format.

#     Create a simple dataframe.
#     Export the dataframe to an excel file.
#     Export the dataframe to a JSON file.

import pandas as pd

   # Create a DataFrame
df1 = pd.DataFrame({
       'Column1': [1, 2, 3, 4, 5],
       'Column2': ['A', 'B', 'C', 'D', 'E'],
       'Column3': [True, False, True, False, True]
   })

df1.to_excel('df.xlsx', sheet_name='Sheet1')
df1.to_json('df.json')

In [14]:

# ðŸŒŸ Exercise 10: Reading JSON Data

# Use a sample JSON dataset

#     Import the JSON data from the provided URL.
#     Use Pandas to read the JSON data.
#     Display the first five entries of the data.
pd2 = pd.read_json('posts.json')
pd2.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...