In [ ]:
#Exercise 1

In [8]:
#1 Given a list [1, 2, 3, 4], print out all the values in the list one by one.
list1 = [1,2,3,4]
for i in list1:
    print(i)

1
2
3
4

In [3]:
#2 Given a list [1, 2, 3, 4], print out all the values in the list multiplied by 20.

list1 = [1,2,3,4]
list2 = [i * 20 for i in list1]
print(list2)

[20, 40, 60, 80]

In [10]:
#3 Given a list ["Elie", "Tim", "Matt"],
# return a new list with only the first letter of each name: ["E", "T", "M"].
list1 = ['Elie','Tim','Matt']
newlist = [i[0] for i in list1]

print(newlist)

['E', 'T', 'M']

In [11]:
#4 Given a list [1, 2, 3, 4, 5, 6], return a new list with all the even values: [2, 4, 6].
list1 = [1,2,3,4,5,6]
newlist = [i for i in list1 if i%2==0]
print(newlist)

[2, 4, 6]

In [12]:
#5 Given two lists [1, 2, 3, 4] and [3, 4, 5, 6],
# return a new list that contains only the values present in both lists: [3, 4].

a = [1,2,3,4]
b = [3,4,5,6]
c = [i for i in a if i in b]
print(c)

[3, 4]

In [14]:
#6 Given a list of words ["Elie", "Tim", "Matt"], return a new list with each word
# reversed and in lowercase: ["eile", "mit", "ttam"].

list1 = ['Elie','Tim','Matt']
newlist = [i[::-1].lower() for i in list1]
print(newlist)

['eile', 'mit', 'ttam']

In [9]:
#7 Given two strings "first" and "third", return a new list of the letters that are present
# in both strings: ["i", "r", "t"].

a = "first"
b = "third"
c = [i for i in a if i in b]
print(c)

['i', 'r', 't']

In [10]:
#8 For all numbers between 1 and 100,
# return a list of the numbers that are divisible by 12: [12, 24, 36, 48, 60, 72, 84, 96].
divby12s = [i for i in range(1,101) if i%12==0]
divby12s

[12, 24, 36, 48, 60, 72, 84, 96]

In [18]:
#9 Given the string "amazing", return a list with all the vowels removed: ["m", "z", "n", "g"].
mystring = "amazing"
newlist = [i for i in mystring if i not in ['a','e','i','o','u']]
print(newlist)

['m', 'z', 'n', 'g']

In [21]:
#10 Generate a list with the following value: [[0, 1, 2], [0, 1, 2], [0, 1, 2]].


list1 = [[0, 1, 2] for i in range(3)]
print(list1)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [24]:
#11 Generate a list with the following structure...:

list3 = [[i for i in range(10)] for _ in range(10)]
print(list3)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [ ]:
#Exercise 2: Dictionary
#1
list1 = [("name", "Elie"), ("job", "Instructor")]
my_dict = {key: value for key, value in list1}
print(my_dict)

{'name': 'Elie', 'job': 'Instructor'}

In [2]:
#2:
list1 = ["CA", "NJ", "RI"] 
list2 = ["California", "New Jersey", "Rhode Island"]
dict1 = {list1[i]:list2[i] for i in range(0,len(list1))}
dict1

{'CA': 'California', 'NJ': 'New Jersey', 'RI': 'Rhode Island'}

In [5]:
#3
vowels = ['a','e','i','o','u']
dict1 = {vowels[i]:0 for i in range(0,len(vowels))}
print(dict1)

{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

list1 = [range(1,26)]
list1

In [8]:
#4
list1 = [i for i in range(1,27)]
list2 = [chr(i) for i in range(65,91)]
dict1 = {list1[i]:list2[i] for i in range(0,26)}
print(dict1)

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E', 6: 'F', 7: 'G', 8: 'H', 9: 'I', 10: 'J', 11: 'K', 12: 'L', 13: 'M', 14: 'N', 15: 'O', 16: 'P', 17: 'Q', 18: 'R', 19: 'S', 20: 'T', 21: 'U', 22: 'V', 23: 'W', 24: 'X', 25: 'Y', 26: 'Z'}

In [11]:
#Super Bonus
str1 = 'awesome sauce'
dict1 = {i:str1.count(i) for i in ['a','e','i','o','u']}
print(dict1)

{'a': 2, 'e': 3, 'i': 0, 'o': 1, 'u': 1}